In [124]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import json
from pandas.io.json import json_normalize

In [125]:
dataset = pd.read_json("dataset3.json")
dataset = dataset.transpose()
dataset.head()

,post_id,annotators,rationales,post_tokens
1179055004553900032_twitter,1179055004553900032_twitter,"[{'label': 'normal', 'annotator_id': 1, 'targe...",[],"[i, dont, think, im, getting, my, baby, them, ..."
1179063826874032128_twitter,1179063826874032128_twitter,"[{'label': 'normal', 'annotator_id': 1, 'targe...",[],"[we, cannot, continue, calling, ourselves, fem..."
1178793830532956161_twitter,1178793830532956161_twitter,"[{'label': 'normal', 'annotator_id': 4, 'targe...",[],"[nawt, yall, niggers, ignoring, me]"
1179088797964763136_twitter,1179088797964763136_twitter,"[{'label': 'hatespeech', 'annotator_id': 1, 't...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[<user>, i, am, bit, confused, coz, chinese, p..."
1179085312976445440_twitter,1179085312976445440_twitter,"[{'label': 'hatespeech', 'annotator_id': 4, 't...","[[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[this, bitch, in, whataburger, eating, a, burg..."

In [126]:
get_dict = pd.DataFrame.from_dict(dataset["annotators"])
get_dict

                                                                    annotators
1179055004553900032_twitter  [{'label': 'normal', 'annotator_id': 1, 'targe...
1179063826874032128_twitter  [{'label': 'normal', 'annotator_id': 1, 'targe...
1178793830532956161_twitter  [{'label': 'normal', 'annotator_id': 4, 'targe...
1179088797964763136_twitter  [{'label': 'hatespeech', 'annotator_id': 1, 't...
1179085312976445440_twitter  [{'label': 'hatespeech', 'annotator_id': 4, 't...
...                                                                        ...
9989999_gab                  [{'label': 'offensive', 'annotator_id': 217, '...
9990225_gab                  [{'label': 'offensive', 'annotator_id': 220, '...
9991681_gab                  [{'label': 'offensive', 'annotator_id': 206, '...
9992513_gab                  [{'label': 'hatespeech', 'annotator_id': 209, ...
9998729_gab                  [{'label': 'hatespeech', 'annotator_id': 200, ...

[20148 rows x 1 columns]

In [127]:
list_ = dataset["annotators"].to_list()
list_[0:5]

[[{'label': 'normal', 'annotator_id': 1, 'target': ['None']},
  {'label': 'normal', 'annotator_id': 2, 'target': ['None']},
  {'label': 'normal', 'annotator_id': 3, 'target': ['None']}],
 [{'label': 'normal', 'annotator_id': 1, 'target': ['None']},
  {'label': 'normal', 'annotator_id': 2, 'target': ['None']},
  {'label': 'normal', 'annotator_id': 3, 'target': ['None']}],
 [{'label': 'normal', 'annotator_id': 4, 'target': ['African']},
  {'label': 'normal', 'annotator_id': 2, 'target': ['None']},
  {'label': 'hatespeech', 'annotator_id': 3, 'target': ['African']}],
 [{'label': 'hatespeech', 'annotator_id': 1, 'target': ['Asian']},
  {'label': 'offensive', 'annotator_id': 4, 'target': ['Asian']},
  {'label': 'hatespeech', 'annotator_id': 3, 'target': ['Asian']}],
 [{'label': 'hatespeech', 'annotator_id': 4, 'target': ['Caucasian', 'Women']},
  {'label': 'hatespeech', 'annotator_id': 2, 'target': ['Women', 'Caucasian']},
  {'label': 'offensive', 'annotator_id': 3, 'target': ['Women', 'Caucasian']}]]

In [128]:
flatten = [val for sublist in list_ for val in sublist]
flatten[0:5]

[{'label': 'normal', 'annotator_id': 1, 'target': ['None']},
 {'label': 'normal', 'annotator_id': 2, 'target': ['None']},
 {'label': 'normal', 'annotator_id': 3, 'target': ['None']},
 {'label': 'normal', 'annotator_id': 1, 'target': ['None']},
 {'label': 'normal', 'annotator_id': 2, 'target': ['None']}]

In [129]:
annotator = pd.DataFrame(flatten)
annotator

            label  annotator_id                    target
0          normal             1                    [None]
1          normal             2                    [None]
2          normal             3                    [None]
3          normal             1                    [None]
4          normal             2                    [None]
...           ...           ...                       ...
60439  hatespeech           253                   [Asian]
60440   offensive           222                   [Asian]
60441  hatespeech           200          [African, Islam]
60442   offensive           202           [Islam, Jewish]
60443   offensive           207  [African, Islam, Jewish]

[60444 rows x 3 columns]

In [130]:
#annotator = dataset.drop(dataset.columns[[0,2]], axis = 1 ).join(annotator)

In [131]:
annotator['target'].explode().value_counts()

None            21314
African         10015
Islam            6686
Women            6126
Jewish           5961
Homosexual       5617
Other            4708
Refugee          3100
Arab             2907
Caucasian        2359
Men              1758
Asian            1350
Hispanic         1299
Christian         270
Disability        221
Minority          188
Heterosexual      141
Economic           90
Hindu              89
Nonreligious       87
Indigenous         83
Indian             81
Buddhism           12
Bisexual            8
Asexual             5
Name: target, dtype: int64

In [132]:
annotator['label'].explode().value_counts()

normal        24449
hatespeech    18070
offensive     17925
Name: label, dtype: int64

In [133]:
label = annotator['label']
annotator = annotator.join(label.str.get_dummies().astype('int32'))
annotator

,label,annotator_id,target,hatespeech,normal,offensive
0,normal,1,[None],0,1,0
1,normal,2,[None],0,1,0
2,normal,3,[None],0,1,0
3,normal,1,[None],0,1,0
4,normal,2,[None],0,1,0
...,...,...,...,...,...,...
60439,hatespeech,253,[Asian],1,0,0
60440,offensive,222,[Asian],0,0,1
60441,hatespeech,200,"[African, Islam]",1,0,0
60442,offensive,202,"[Islam, Jewish]",0,0,1
60443,offensive,207,"[African, Islam, Jewish]",0,0,1

In [134]:
#Race = African, Arab, Caucasian, Asian, Hispanic, Indian
#Religion = Islam, Jewish, Christian, Hindu, Nonreligious, Buddhism
#Gender = Women, Homosexual, Men, Heterosexual, Bisexual, Asexual
#Other = Other, Refugee, Disability, Minority, Economic, Indigenous
#None = None

#Race = annotator.loc[annotator['target'].isin(['African', 'Arab', 'Caucasian', 'Asian', 'Hispanic', 'Indian'])]
#Race.head()

Empty DataFrame
Columns: [label, annotator_id, target, hatespeech, normal, offensive]
Index: []